:root {
  --primary: #051D3B;
  --secondary:#5081FB;
  --tertiary: #7BA4FC;
  --quaternary: #96B9FD;
  --white: #FFF;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--primary);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

.header{
  align-items: center;
}

.header span {
  color: var(--white);
}

.dropdown-toggle::after{
  display: none;
}

.header-form{
  width: 100%;
}

.form-label{
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form{
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.16);
}

.form::placeholder{
  color: var(--white);
  opacity: 0.64;
}